.price-axis-box {
    display: none;
}

/*sets the background color of the graphs*/
svg {
    background-color: white;
}

/*Style for the lines that visualize incremental levels of the price axis*/
.price-grid-line {
    stroke: rgb(213, 213, 213);
    stroke-width: 1;
}

.price-grid-line-zero {
    stroke: rgb(168, 168, 168);
    stroke-width: 1;
}

.price-grid-line-text {
    fill: rgb(150, 150, 150);
    font-size: 10px;
}

.batch-line {
    stroke: #a7a7a7;
    stroke-width: 1px;
}

.batch-label-text {
    fill: rgb(150, 150, 150);
    font-size: 10px;
}

.price-line {
    stroke: rgb(105, 103, 147);
    stroke-width: 3;
}

.spread {
    fill: rgba(255, 127, 80, .5);
}

.buy-line {
    stroke: rgb(20, 100, 20);
    stroke-width: 1;
}

.equilibrium-price-line {
    stroke: red;
    stroke-width: 2;
}

.my-orders {
    stroke-width: 2;
    stroke: rgb(26, 73, 232);
}

.investor-orders {
    stroke-width: 1;
    stroke: rgb(163, 112, 224);
}

.others-orders {
    stroke-width: 2;
    stroke: rgba(26, 73, 232, .5);
}

.my-filled-orders-positive {
    fill: rgb(58, 247, 71);
}

.my-filled-orders-negative {
    fill: red;
}

.others-filled-orders {
    fill: rgb(232, 232, 232);
}

.my-profit-out {
    stroke: rgb(110, 110, 110);
    stroke-width: 3;
}

.my-profit-snipe {
    stroke: rgb(200, 79, 34);
    stroke-width: 3;
}

.my-profit-maker {
    stroke: rgb(26, 73, 232);
    stroke-width: 3;
}

.others-profit-out {
    stroke: rgba(110, 110, 110, 0.4);
    stroke-width: 1;
}

.others-profit-snipe {
    stroke: rgba(200, 79, 34, 0.4);
    stroke-width: 1;
}

.others-profit-maker {
    stroke: rgba(26, 73, 232, 0.4);
    stroke-width: 1;
}
